<mat-card>
  <mat-card-header>
    <mat-card-title>Image to Image Encryption</mat-card-title>
    <mat-card-subtitle>You could set your personal key on the Configuration page in the left side drawer.<br />
      This feature is working-in-progress.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-file-upload class="card-content-margin" labelText="Select an image to upload:"
      selectButtonText="Choose an Image" uploadButtonText="Upload" [allowMultipleFiles]="false"
      acceptedTypes=".png, .jpg, .jpeg"></mat-file-upload>
  </mat-card-content>
</mat-card>
