.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 16px;
}
.label-indigo {
  background-color: rgb(48, 58, 166);
  color: white;
  border-radius: 2px;
  padding: 2px 5px 2px 5px;
}