.card-container {
    display: flex;
    justify-content: space-around;
}
.card {
    margin-top: 16px;
    margin-bottom: 16px;
    flex: 0.98;
}
.card-title{
    margin-top: 10px;
}
.card-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
}
.card-content-line {
    flex: 1 1 25px;
}
.label-pink {
    background-color: #FF4081;
    color: white;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
}
.label-orange {
    background-color: #FFAB40;
    color: white;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
}

.label-indigo {
    background-color: #3F51B5;
    color: white;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
}