<mat-tab-group mat-align-tabs="center" color="primary" backgroundColor="primary">
    <mat-tab label="Text to Text"> 
        <div class="tab">
            <app-encryption-text-text class="component"></app-encryption-text-text>
        </div> 
    </mat-tab>
    <mat-tab label="Image to Image">
        <div class="tab"> 
            Test
        </div>
    </mat-tab>
    <mat-tab label="Image to Text">  
        <div class="tab">
            Test 
        </div>
    </mat-tab>
    <mat-tab label="Text to Image">  
        <div class="tab">
            Test 
        </div>
    </mat-tab>
</mat-tab-group>