.card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  margin-top: 16px;
  margin-bottom: 16px;
  flex: 0.98;
  overflow-x: auto;
}
.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
  margin-top: 20px;
}

.table-container {
  overflow-x: auto;
}

.mat-header-row, .mat-row {
  display: inline-flex;
}

.mat-table {
  overflow-x: auto;
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  display: table-cell;
  padding: 0px 10px;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}
tr.table-row:hover {
  background: whitesmoke;
}
.display-key{
  word-break: break-all;
}

.mat-column-name {
  white-space: nowrap;
  width: 0%;
  flex: 1 1 0%;
}
.mat-column-key {
  word-break: break-word;
  min-width: 150px;
  width: 100%;
  flex: 1 1 100%;
}
.mat-column-action {
  white-space: nowrap;
  width: 0%;
  flex: 1 1 0%;
}