.card-container {
  display: flex;
  justify-content: space-around;
}
.card {
  margin-top: 16px;
  margin-bottom: 16px;
  flex: 0.8;
}
.card-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
}
tr.table-row:hover {
  background: whitesmoke;
}

.display-key{
  word-break: break-all;
}